.form-position {
    text-align: -webkit-center;
}

.form-size {
    width: 50%;
}

.inf-text {
    color: rgba(255, 255, 255, 0.7)
 
}

.container-format {
    margin-top: 3rem;
}

.information-format {
    text-align: center;
    margin-top: 3rem;
}

/* Contact Rules */

.social-icons {
    text-decoration: none;
    color: ##f6e1c5;
    font-size: 3rem;
    padding: 1rem;
    
}

.social-icons:hover {
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    padding: 0 2rem;
    transition: ease-in-out 2s;
}